[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "peakPantheR"]
	path = peakPantheR
	url = https://github.com/phenomecentre/peakpanther
